/* All Background Images pulled from unsplash.com and altered through Inkscape */

.admission {
    background-image: url(../img/bwtent.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

/* Floating animation tips used below found at geeksforgeeks.org */

.admit {
    margin-left: 46%;
    margin-top: 5%;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.neonsign {
    text-align: center;
    margin-top: 25%;
    color: #d9ff00;
    font-family: "Meow Script", cursive;
    font-size: x-large;
}

.neon {
    text-shadow: 
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 151px #0fa;
}

.indexaudio {
    float: left;
    visibility: hidden;
}

/* End of index.html */

.homepage {
    background-image: url(/assets/img/fire1.jpg);
    background-size: cover;
    background-color: black;
}

.navbar1 {
    font-size: x-large;
    width: 25%;
    position: fixed;
    margin-left: 5px;
}

.icon {
    max-width: 150px;
    margin-left: -8%;
}

.nav {
    display: block;
    color: rgb(244, 247, 107);
    font-family: 'Monoton', cursive;
    padding-top: 15px;
    text-shadow: 2px 2px rgb(252, 107, 11);
    text-decoration: none;
}

.nav:hover {
    color: red;
    font-family: 'Creepster', cursive;
    font-size: 40px;
    text-shadow: 2px 2px black;
}

.title {
    right: 0;
    position: fixed;
}

.info {
    width: 70%;
    height: 850px;
    margin-top: 20%;
    margin-right: 15px;
    float: right;
    background-color: rgba(0, 0, 0, 0.900);
    position: sticky;
    overflow: hidden;
}

.contactinfo {
    width: 270px;
    float: left;
}

.contactheader {
    color: rgb(244, 247, 107);
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px rgb(252, 107, 11);
    text-align: center;
    font-size: 40px;
}

.contacttext {
    font-family: "Luckiest Guy", cursive;
    color: white;
    text-shadow: 2px 2px black;
    padding-left: 10px;
    font-size: x-large;
}

.map {
    max-width: 50px;
    max-height: 50px;
    opacity: none;
    float: right;
    padding-right: 550px;
}

.form {
    margin-top: 60%;
    clear: both;
}

input[type=text], select, textarea {
    width: 90%;
    padding: 12px;
    border: 3px solid rgb(244, 247, 107);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: rgb(244, 247, 107);
    color: rgb(0, 0, 0);
    font-family: "Monoton", cursive;
    font-size: larger;
    padding: 12px 20px;
    border: 1px solid rgb(252, 107, 11);
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-right: 15px;
  }

.infobox {
    background-color: black;
    opacity: 90%;
    float: right;
    margin-top: 20%;
    margin-right: 15px;
    width: 70%;
}

.news {
    text-indent: 10px;
    color: rgb(244, 247, 107);
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px rgb(252, 107, 11);
}

.newsprint {
    color: white;
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 2px 2px black;
    text-indent: 40px;
}

.carnivalaudio {
    opacity: 20%;
}

/* Copywright and Networking Links */

footer {
    position: absolute;
    margin-top: 87%;
    width: 100%;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: x-large;
    color: white;
    text-shadow: 2px 2px black;
    height: 0px;
}

.fa {
    padding: 8px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    text-shadow: none;
  }


.fa-twitter {
    background: #55ACEE;
    color: white;
    text-decoration: none;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa:hover {
    opacity: 0.7;
}

/* From here on out, it's simple Easter Egg/Treasure Hunt nonsense and fun. */

.missingheart {
    color: rgb(244, 247, 107);
    font-family: 'Monoton', cursive;
    text-shadow: 2px 2px rgb(252, 107, 11);
    text-decoration: none;
    font-size: x-large;
    margin-top: 87%;
    margin-left: 16%;
    float: left;
}

.missingheart:hover {
    color: rgba(0, 0, 255, 0);
    text-shadow: none;
}

.brokenheart {
    margin-top: 86.2%;
    margin-left: 15.8%;
    float: left;
    font-size: x-large;
    z-index: -1;
    position: absolute;
}

.ostara {
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 90%;
}

.ostara a {
    text-decoration: none;
    color: black;
}

.ostarapage {
    background-image: url(/assets/img/merrygoround.png);
    background-position: cover;
}

.grats {
    font-family: "Permanent Marker", cursive;
    color: chartreuse;
    font-size: 50px;
    text-shadow: 3px 2px black;
    margin-left: 10px;
}

.foundme {
    font-family: "Meow Script", cursive;
    color: chartreuse;
    text-shadow: 3px 2px black;
    text-indent: 40px;
    margin-top: -50px;
    font-size: 40px;
}

.foundyou {
    max-width: 200px;
    margin-left: 58%;
    margin-top: -2%;
    opacity: 30%;
}