.admission {
    background-image: url(/assets/img/bwtent.png);
    background-size: cover;
    background-color: black;
}

.admit {
    margin-left: 46%;
    margin-top: 5%;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.homepage {
    background-image: url(/assets/img/fire1.jpg);
    background-size: cover;
    background-color: black;
}

.navbar1 {
    font-size: x-large;
    width: 14%;
    position: fixed;
    margin-left: 5px;
    margin-top: 12%;
}

a {
    display: block;
    color: white;
    font-family: 'Monoton', cursive;
    text-decoration: none;
    padding-top: 15px;
    text-shadow: 2px 2px black;

}

a:hover {
    color: red;
    font-family: 'Creepster', cursive;
    font-size: 40px;
    text-shadow: 2px 2px black;
}

audio {
    volume = 0.2;
    float: right;
    margin-top: 90%;
    visibility: hidden;
}